{% extends 'base.html' %}

{% block content %}
<h1>Visualization</h1>

<h2>Upload</h2>
<form method="post" enctype="multipart/form-data" action="Docx1">
  Docx1:
  {% csrf_token %}
  <input type="file" name="document">
  <button type="submit">Upload file</button>

{% if url %}
  <p>Uploaded file: <a href="{{ url }}">{{ url }}</a></p>
{% endif %}
  </form>
<br>
<form method="post" enctype="multipart/form-data" action="Docx2">
  Docx2:
  {% csrf_token %}
  <input type="file" name="document">
  <button type="submit">Upload file</button>

  {% if url %}
  <p>Uploaded file: <a href="{{ url }}">{{ url }}</a></p>
  {% endif %}

</form>
<br>
<form action="Latex">

  Latex:
  {% csrf_token %}
  <input type="file" name="document">
  <button type="submit">Upload file</button>

{% if url %}
  <p>Uploaded file: <a href="{{ url }}">{{ url }}</a></p>
{% endif %}

</form>

{% endblock%}
