{% extends 'base.html' %}

{% block content %}

Result : {{result}}

<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                {% for col in columns %}
                <th>{{ col }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for  row in rows %}
                <tr>
                    {%for col in row %}
                      <td> {{ col }} </td>
                    {% endfor %}
                </tr>
             {% endfor %}
        </tbody>
    </table>
{% endblock%}
